.title {
    font-weight: bold;
    color: #fff;
    font-size: 30px;
    margin-left: 40px;
}

.nav-bar {
    display: flex;
    gap: 40px;
    margin-right: 40px;
}

.nav {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.nav:hover {
    text-decoration: underline;
    font-size: 23px;
}

.welcome {
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

.subtitle {
    font-size: 20px;
    margin-bottom: 1.5rem;
}

.started {
    font-size: 18px;
    font-weight: bold;
    background-color: #4A90E2;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
}

.started:hover {
    text-decoration: underline;
    cursor: pointer;
    font-size: 20px;
}

.button {
    display: flex;
    gap: 30px;
}

.feature {
    font-size: 20px;
    border: 1px solid #4A90E2;
    padding: 15px 80px;
    color: #4A90E2;
    border-radius: 7px;
}

.feature:hover {
    text-decoration: underline;
    font-size: 25px;
    cursor: pointer;
}

